
.vs-header > .vs-header-container{width:1200px!important;}

/* GNB 메인메뉴버튼 css */
.vs-header .nav-justified > li > a {
    font-size: 15px !important;
    border:0;
    color:#fff !important;
    /*background-color:#434c53!important#d8dcdf*/
}

.navbar-default-sub .nav > li > a {
    color: #fff;
}

span.premium_span {
    width: 0.5em;
    height: 0.5em;
    background-color:#009cff;
    display: inline-block;
    vertical-align:text-top;
    border-radius: 50%;
    margin-left: 4px;
}

span.premium_span_hot{
    background-color:#ff5c5c!important;
}

span.premium_span_new{
    background-color:#0095ff!important;
}

/*전체메뉴*/
.all_menu > ul{
    width:196px!important;
    display:-webkit-inline-box;
    display:inline-block;
    box-sizing: border-box;
    margin-right:0px;
    -webkit-margin-end: 4px;
    -moz-margin-end:0px;
}

.all_menu > ul:last-child{margin-right:0!important;}

.all_menu > ul:hover{
    background-color:rgba(0,0,0,.05)
}

.all_menu > ul > a{
    display:block;
    padding:0px 6px;
    border-bottom:1px solid #eee;
    font-size:15px;
    height:40px;
    letter-spacing:-1px;
    line-height:40px;
}

.all_menu > ul > a:hover{background:#00497d!important; color:#fff!important; transition:all .2s;}

.all_menu > ul > a:last-child{border-bottom:0;}

.all_menu_bg {
    padding:0px;
    max-height:620px!important;
    border-top:0;
}

.all_menu_icon img{
    width:100%;
    height:100%;
    margin-bottom:1.5px;
}

.all_menu > li {
    width: 19.3%;
    height:430px;
    float: left;
    padding: 15px 7px 40px;
    box-sizing: border-box;
}

.all_menu > li:first-child{margin-left:40px}
.all_menu > li:last-child{margin-left:40px; width:1120px; height:130px; padding:0!important;}

.all_menu hr,.my_gnb_submenu hr,.my_gnb_submenu hr{margin:0; border-top:1px solid #0070c0;}



.all_menu > li > ul > li {
    margin: 10px 0;
}

.all_menu .all_menu_icon{transition:all .2s;}
.all_menu .all_menu_icon:hover{background:#0070c0!important; transition:all .2s;}

/*20191106 GNB 추가*/
.gnb_event_line{
padding:0;
width:100%;
height:100px;
margin:15px 0;
display: block;
}

.gnb_event_line > a{width:49.8%; 
    height:100px; 
    border-top:0!important;
    border-left:0!important;
    border-right:0!important;
    border-bottom:1px solid #ddd;
    padding:0; display: inline-block;
    background-size:cover!important;
    background-position: center!important;
}
.gnb_event_line > a:first-child{background:url(/static/images/menu/gnb_banner3.png)no-repeat;}
.gnb_event_line > a:last-child{background:url(/static/images/menu/gnb_banner2.png)no-repeat;}

.dotted-line{border-bottom:1px dotted #333!important;}
.solid-line{border-bottom:1px solid #333!important;}
.solid-line-blue{border-top:1px solid #0070c0!important}

a{text-decoration:none;}
span.premium_span {
    width: 0.8rem;
    height: 0.8rem;
    background-color:#ffba00;
    display: inline-block;
    vertical-align: text-top;
    border-radius: 50%;
    margin-left: 0;
}

.empty{visibility:hidden;}
.btn-management{width:150px!important; border:1px solid #0070c0!important; text-align:center; color:#0070c0;}
.btn-management:hover{background-color:transparent!important; color:#fff; transform:scale(1.03);}
.my_gnb {
    position: fixed;
    top: 96px;
    width: 100%;
    left: 0;
    margin: 0;
    height:40px!important;
    z-index: 10000 !important;
    background-color: #434c53 !important;
    border: 0;
    border-radius: 0;
}

.my_gnb li{height:40px}

.navbar{min-height:auto!important;}

.my_gnb > div > div > div > ul > li > a {
    padding: 0 !important;
}

.my_gnb_line {
    color: #fff !important;
    width:1200px;
    max-height: 40px!important;
}

.my_gnb_line > li {
    float: left;
    width: 196px!important;
    text-align: center;
    margin-right:4px!important;
    font-size:16px;
}

.my_gnb_line > li:last-child{
    margin-right:0;
}

.my_gnb_line>li.open{
    background-color:#0070c0;
}

/* GNB 공통 */
.gnb-dropdown, .dropdown{cursor:pointer;}
/*.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .my_gnb_line>li:hover, .my_gnb_line>li:focus{background-color:#0070c0!important; color:#fff;}*/

.my_gnb_line > li > a {
    padding:0!important;
    color:#fff!important;
    line-height:40px!important
}



.my_gnb_submenu_bg,
.all_menu_bg {
    position: fixed;
    left: 0;
    top: 136px;
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    z-index:9999!important;
}

.my_gnb_submenu_bg {
    padding: 0px;
    height:auto!important;
    background-color:#fff!important;
    background-size:cover;
}


.vs-header .navbar-collapse.collapse{width:1200px!important}
.all_menu,
.my_gnb_submenu {
    width: 1200px;
    margin: 0px auto;
    position: relative;
    display: table;
}

.my_gnb_submenu{
    height:100%;
    box-sizing: border-box;
}

.gnb_banner {
    background:url(/static/images/menu/gnb_banner.png)no-repeat;
    width:1160px;
    height: 100px;
    display: table;
    margin:20px 0 20px 40px;
    border:1px solid #ddd;
}
.my_gnb_submenu > li:nth-child(2){border-left:1px solid #ddd;}
.my_gnb_submenu > li > a {display:block; padding:8px 2px; font-size:15px; width:49%; margin:0 0.5%; float:left;}
.my_gnb_submenu > li > a:hover{text-decoration:underline;}

.my_gnb_submenu > li:first-child {
    width: 25%;
    height:260px;
    padding:15px 30px 15px 15px;
    cursor:default;
}

.my_gnb_submenu > li:first-child > a{margin-top:25px;}
.my_gnb_submenu > li:first-child > a:hover{background-color:#0070c0!important; color:#fff!important; text-decoration:none!important; transition:all .3s;}

.my_gnb_submenu > li {
    width: 45%;
    height:260px;
    float: left;
    padding: 15px 30px;
    box-sizing: border-box;
    position: relative;
    overflow:hidden;
}

.my_gnb_submenu > li:last-child{
    width:30%;
    padding:0;
}

.my_gnb_submenu > li:hover h5{
    color:#0070c0;
}


.my_gnb_submenu > li > ul, .my_gnb_submenu > li > div{
    width:49%; float:left; margin-left:1%;
}

.my_gnb_submenu > li > ul:nth-child(2){
    margin-left:2%;
}

.my_gnb_submenu > li > ul > li, .my_gnb_submenu > li > div > a{
    padding:8px; font-size:16px; line-height:25px; border-bottom:1px dotted #999; display:block;
}

.my_gnb_submenu > li > ul > li:last-child{border-bottom:0;}

.my_gnb_submenu > li > ul > li:hover, .my_gnb_submenu > li > div > a:hover{background:#fff;}

.my_gnb_submenu > li > h5 {
    padding:8px 0; 
    box-sizing: border-box;
    color: #333;
    font-weight:700;
    border-bottom:1px solid #0070c0;
    font-size: 18px;
    margin:0;
    letter-spacing:-1px;
    cursor: default;
}

.my_gnb_submenu > li > h5 > img{padding-bottom:2px;}

.my_gnb_submenu > li > h4 {
    color: #333;
    font-size: 18px;
}

.my_gnb_submenu > li > p {
    color: #333;
    font-size: 14px;
    letter-spacing:-1px;
}




.my_gnb_submenu > li:first-child > a{
    width:100%!important;
    color:#0070c0;
    padding:7px;
    display: block;
    text-align:center;
    border:1px solid #0070c0;
    border-radius:3px;
    margin-bottom: 3px;
}

.all_menu > li > a:hover{background:#0070c0!important;color:#fff!important;}


@media (max-width: 1200px) {
    .my_gnb_line, .vs-header > .vs-header-container, .vs-header .navbar-collapse.collapse, .gnb_event_line{width:970px!important;}
    .gnb_event_line{margin:0 0 15px;}
    .gnb_event_line > a{width:49.7%!important}
    .vs-header .navbar-collapse.collapse{width:100%;}
    .my_gnb_line > li {
        width:157px!important; margin-right:4.6px!important; 
    }

    .my_gnb_submenu > li {
        width: 45%;
    }

    .my_gnb_submenu > li:last-child > img{width:100%; background-size:contain; background-position: center;}
    .all_menu_bg{max-height:700px!important}
    .all_menu > ul{width:157px!important; 
        height:auto; 
        display:ms-inline-grid!important;
        display:inline-grid!important;
        font-size:0;
        margin-right:0px;
        -webkit-margin-end: 4.7px;
        -moz-margin-end:0px;}
    .all_menu > ul > a{
    min-height:40px;
    line-height:20px!important;
    padding:0px 6px;
    font-size:13px;
    }
    
    .all_menu, .vs-header .vs-header-container{
        width: 991px!important;
        margin:0px auto;
    }

    .nav-icon{display:unset!important;}
    
}

@media (max-width: 991px) {
    .my_gnb_line{
        display:none!important;
    }
    
    .vs-top-container{height:86px!important;}
}
