*, *:before, *:after {box-sizing:  border-box !important;}

/*
.prdlayout .row {
 -moz-column-width: 25em;
 -webkit-column-width: 25em;
 column-width: 25em;
 -moz-column-gap: .5em;
 -webkit-column-gap: .5em; 
 column-gap: .5em; 
  
}

.prdlayout .panel {
 display: inline-block;
 margin:  .5em;
 padding:  0; 
 width:98%;
}


.prdlayout .isotope,
.prdlayout .isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.prdlayout .isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.prdlayout .isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}
   */
  
/* responsive media queries 

@media (max-width: 992px) {
  header .prdlayout  h1 small {
    display: block;
  }

  header .prdlayout  div.description {
    padding-top: 9px;
    padding-bottom: 4px;
  }

  .prdlayout .isotope .item {
    position: static ! important;
    -webkit-transform: translate(0px, 0px) ! important;
       -moz-transform: translate(0px, 0px) ! important;
            transform: translate(0px, 0px) ! important;
  }
}


*/

.vs-design-produts .panel {
    border-radius: 0px;
    box-shadow: 0px 1px 1px transparent;
    width: 100%;
    float: left;
    margin:0.4em 0em ;
}
/* Small devices (mobile, 480px and up) */
@media (min-width: 650px) {

	.vs-design-produts .panel {
		width:47%;
		margin: 0.4em !important;
	}

}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.vs-design-produts .panel {
		    width: 42%;
    margin: 1.84em !important;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	.vs-design-produts .panel {
		width: 28%;
    margin: 1.6em !important;

	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	.vs-design-produts .panel {
	 width: 28%;
    margin: 1.97em !important;

	}

}


.prdlayout .row {border-top: none;border-bottom: none;}

.vs-design-produts .panel {border-radius: 0px;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0); }
.vs-design-produts .panel .panel-body {padding: 0px !important;}
.vs-design-produts .panel img {width:100%;}

.prdgrid-head-control{padding:13px;margin-right: -15px;margin-left: -15px;overflow:hidden;text-align:left;}
.prdgrid-footer-control{border:1px solid #e1e1e1;padding:13px;margin-right: -15px;margin-left: -15px;background: #f6f6f6;overflow:hidden;text-align:left;}
.prdgrid-page-control{border-bottom:none;padding:0px;margin-right: -15px;margin-left: -15px;background: #fff;overflow:hidden;}

.prdgrid-page-control .pagination {margin: 15px 0px;border-radius: 0px;}

.vs-design-produts .panel-default:hover {border-color: #2B3E4F ;}

.vs-design-produts .panel-footer{overflow:hidden;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.vs-design-produts .panel-footer span.title{font-weight:bold;float:left;}
.vs-design-produts .panel-footer span.type{font-size:12px;float:right;}
.vs-design-produts .panel-footer .prd-btns{clear:both;}
.vs-design-produts .panel-footer.footer-title{    background-color: #fff;
    border-top: 0px;}

.vs-design-produts .panel-footer2 {padding: 0px;}
.vs-design-produts .panel-footer2 .prd-btns{margin: 0px;}
.vs-design-produts .panel-footer2 .prd-btns span.demo{background: #fff;
    padding: 10px 9px;
    font-size: 13px;
    border-right: 1px solid #ddd;
    border-left: 0px solid #ddd;
    color: #000;
    border-radius: 0px;
    display: block;
    text-align: center;
}
.vs-design-produts .panel-footer2 .prd-btns span.prd-btn{float:left;padding-left:0px;padding-right:0px;}
.vs-design-produts .panel-footer2 .prd-btns span.prd-btn a{background:#fff;padding: 10px 9px;font-size:13px;border-right:1px solid #ddd;color:#000;border-left:0px solid #ddd;color:#000;border-radius: 0px;}
.vs-design-produts .panel-footer2 .prd-btns span.prd-btn a:first-child{border-right-width: 0;}
.vs-design-produts .panel-footer2 .prd-btns span.prd-btn a:last-child{border-right:0px solid #ddd;}
.vs-design-produts .panel-footer2 .prd-btns span.prd-btn a:hover{color:#fff;background:#004877;text-decoration:none;}
.vs-design-produts .panel-footer2 .prd-btns .detail{ display: none; }

.vs-design-produts .panel-footer2 .prd-btns div.preview{overflow: hidden;position:relative;}
.vs-design-produts .panel-footer2 .prd-btns div.preview>.prd-btn{}
.vs-design-produts .panel-footer2 .prd-btns div.preview>.prd-btn .btn{    border-right-width: 1px;}
.vs-design-produts .panel-footer2 .prd-btns div.preview>.prd-btn a{z-index:10;}
.vs-design-produts .panel-footer2 .prd-btns div.preview>.prd-btn a:last-child{border-right:0px solid #ddd;}
.vs-design-produts .panel-footer2 .prd-btns div.preview a.hoverbtn {display:none;position: absolute;left: 0px;z-index: 999;background: none repeat scroll 0% 0% rgb(255, 255, 255);width: 100%;height: 100%;cursor: pointer;padding: 10px 9px;color: #000;font-size: 13px;}
.vs-design-produts .panel-footer2 .prd-btns div.preview a.hoverbtn:hover{top:-500px;}


.pub-content-builder + #section4 .panel-body{padding: 0;}
.pub-content-builder + #section4 .panel-default{border: none;}
.pub-content-builder + #section4 .panel-default .builder-icon{    padding-top: 7em;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center 40%;
    min-height: 162px;
   }
.builder-icon.icon1 { background-image: url('/static/images/homepage/naver.png'); background-size: 36px;}
.pub-content-builder + #section4 .panel-default .builder-icon.icon2 { background-image: url('/static/images/homepage/share.png'); }
.pub-content-builder + #section4 .panel-default .builder-icon.icon3 { background-image: url('/static/images/homepage/facebook.png'); }
.pub-content-builder + #section4 .panel-default .builder-icon.icon4 { background-image: url('/static/images/homepage/sns.png');     background-size: 50px;}
.pub-content-builder + #section4 .panel-default .builder-icon.icon5 { background-image: url('/static/images/homepage/google.png'); }
.pub-content-builder + #section4 .panel-default .builder-icon.icon6 { background-image: url('/static/images/homepage/youtube.png'); }
.pub-content-builder + #section4 .panel-default .builder-icon.icon7 { background-image: url('/static/images/homepage/language.png'); }
.pub-content-builder + #section4 .panel-default .builder-icon.icon8 { background-image: url('/static/images/homepage/mobile.png');    background-size: 50px; }


#section2 #pricePlans + h4.middletxt {
    margin: 4em 0;
}

@media (max-width: 991px){
.pub-content-builder + #section4 .normaltxt {
    float: left;
    width: 50%;
    min-height: 160px;
}
}

.icons-new{float:left;font-weight:bold;margin-left:10px;font-size:13px;font-family:;color:#1CC3CE;}
.icons-hit{float:left;font-weight:bold;margin-left:10px;font-size:13px;font-family:;color:red;}

.btn-gu{float:left;border-radius: 0px;    margin-right: 9px;    margin-top: 1px;    margin-bottom: 5px;}
.btn-gu:first-child{margin-left:0px;}
.btn-gu2{float:left;border-radius: 0px; background:#1cc3ce;;}

#busstype{clear:both;}
.busstype-box{overflow:hidden;display:block;clear:both;min-height: 20px;padding: 10px;margin-bottom: 0px;margin-top:5px;background-color: #FFF;border: 1px solid #E3E3E3;border-radius: 0px;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.0) inset;}

.gu-toggle{float:right;margin-left:10px;margin-top:1px;margin-bottom:1px;}
.gu-toggle>.btn{border-radius:0px !important;padding: 5px 10px;}

.gu-bold{font-weight: bold;}
.gu-active{border:1px solid #999; background:#fefefe;font-weight:800;}

@media (max-width: 768px) {
	
	.gu-toggle{margin-top:1px;margin-bottom:5px;float:left;margin-left:0px;}
	.btn-gu{margin-top:2px;margin-bottom:2px;}
}
@media (max-width: 970px) {
	
	.gu-toggle{margin-bottom:5px;float:left;margin-left:0px;}
	
}
.gu-category{overflow:hidden;float:left;}

.gu-new-introduce{border:1px solid #e1e1e1;padding:15px;margin-right: -15px;margin-left: -15px;margin-bottom:15px;background:#efefef;overflow:hidden;}
.gu-new-introduce>img{border:1px solid #ddd;}
.gu-new-introduce>div{padding:0px;text-align:left;}
.gu-new-introduce>.col-md-7{padding:0 15px !important;}
.gu-new-introduce .new{font-size: 13px;font-weight:bold;color: #1CC3CE;}

.gu-new-introduce > .col-md-7 > h5 > small > a.btn {color: #000;float: right;padding-top: 0px;padding-right: 0px;}
.gu-close > .col-md-7 > h5 > small > a.btn {color: #000;float: right;padding-top: 0px;padding-right: 0px;}
.gu-close > .col-md-5{display:none;}
.gu-close > .col-md-7 {width:100%;}
.gu-close h3,.gu-close p,.gu-close div.btn-area,.gu-close hr{display:none;}
.gu-close h5{font-size: 16px;font-weight: bold;}

.prd-btn-new-introduce a{border-radius:0px !important;}
.gu-new-introduce hr{border-color: #C9C9C9 -moz-use-text-color -moz-use-text-color;}



.sd-builder-ex-btn .btn-group a:hover{background: #004877;;
    color: #fff;}

.prdgrid-head-control .gu-category .btn-gu{    padding: 12px 38px;}
.prdgrid-head-control .gu-category .btn-gu:hover{}

#section7.builder .row{ margin-top: 7em; }
#section7.builder .panel-heading{    color: #fff;
    background-color: #00abeb;}
#section7.builder .panel-body p i {color: #999999;}